body {
    margin: 0;
  }
  body header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
    background-color: #A0C069;
  }
  body header h1 {
    margin: 0;
    color: white;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  body main select {
    display: flex;
    width: 350px;
    margin: 25px auto 0;
  }
  body main .bike__item {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    gap: 70px;
    margin-top: 25px;
  }
  body main .bike__item:not(:first-child) {
    margin-top: 150px;
  }
  body main .bike__item:nth-of-type(odd) .bike__photo {
    grid-column: 1;
    grid-row: 1;
  }
  body main .bike__item:nth-of-type(even) .bike__photo {
    grid-column: 2;
    grid-row: 1;
  }
  body main .bike__title {
    margin-top: 25px !important;
  }
  body main .bike__content ul {
    list-style: none;
    padding-left: 0;
  }
  body main .bike__content ul li {
    padding-top: 10px;
  }
  body main .bike__photo {
    line-height: 0;
    box-shadow: 0 20px 30px black;
  }
  body footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: black;
    gap: 70px;
    width: 100%;
    margin-top: 100px;
    bottom: 0;
  }
  body footer h1 {
    color: white;
  }
  
  body.scrolling-active header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #A0C069;
    transition: all 1s ease-in-out;
  }